<h1>FIDO: Federal Incorporated Dogs. <em>Organized.</em></h1>

<% if !notice.nil? %>
  <p id="notice"><%= notice %></p>
<% end %>

<div>
  <% @posts.sort {|a, b| b.created_at <=> a.created_at }.each do |post| %>
      <h2 class="post-title"><%= link_to post.title, post %></h2>
      <p>
        <% u = User.find(post.user_id) %>
        <span class="post-tenant"><%= Tenant.find(u.tenant_id).name %></span>
        &bull;
        <span class="post-date"><%= User.find(post.user_id).name %></span>
        &bull;
        <span class="post-date"><%= post.date_posted %></span>
      </p>
      <p class="post-body">
        <% post_body_trunc, link = truncate_paragraph(post.body, post) %>
        <%= simple_format(truncate(post_body_trunc,
            length: 200,
            separator: ' ')) + link
        %>
      </p>
  <% end %>
  <%= will_paginate @posts %>
</div>
