%h1
  = link_to "Posts", posts_path(sort: nil)

= form_tag posts_path, method: 'get' do
  %p
    = text_field_tag :search, params[:search]
    = check_box_tag(:title_body)
    = label_tag(:title_body, "Search title and body")
    = submit_tag "Search", name: nil

- if @posts.nil?
  %p No posts.
- else
  %table
    %thead
      %tr
        - if @is_admin
          %th
            Author
            = link_to "asc", posts_path(sort: :user_id, dir: :asc)
            = link_to "desc", posts_path(sort: :user_id, dir: :desc)
        %th
          Title
          = link_to "asc", posts_path(sort: :title, dir: :asc)
          = link_to "desc", posts_path(sort: :title, dir: :desc)
        %th
          Date
          = link_to "asc", posts_path(date_dir: :asc)
          = link_to "desc", posts_path(date_dir: :desc)
        %th Published
        %th{colspan: 2}
    %tbody
      - @posts.each do |post|
        %tr
          - if @is_admin
            %td= post.user_id
          %td.post-title= link_to (truncate post.title), post
          %td.post-date= post.created_at.strftime("%Y-%m-%d")
          %td{class: post.published ? "pub-yes" : "pub-no"}
            = post.published ? "Y" : "N"
          %td= link_to 'Edit', edit_post_path(post)
          %td= link_to "Delete", post, method: :delete, |
            data: { confirm: 'Are you sure?' }
  = paginate @posts
