<h1>Posts</h1>


<% if @posts.nil? %>
  <p>No posts.</p>
<% else %>
  <table>
    <thead>
      <tr>
        <% if @is_admin %>
          <th>Author</th>
        <% end %>
        <th>Title</th>
        <th>Date</th>
        <th>Published</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.sort {|a, b| b.created_at <=> a.created_at }.each do |post| %>
        <tr>
          <% if @is_admin %>
            <td><%= post.user_id %></td>
          <% end %>
          <td class="post-title"><%= link_to (truncate post.title), post %></td>
          <td class="post-date"><%= post.created_at.strftime("%Y-%m-%d") %></td>
          <td class=
          <%= post.published ? "pub-yes" : "pub-no" %>
            >
            <%= post.published ? "Y" : "N" %>
          </td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to "Delete", post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
<% end %>
