<% if !notice.nil? %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>&bull;&nbsp;<%= @tenant.name %></h1>

<h2 class="title"><%= @post.title %></h2>

<p><span class="post-meta">by
  <span class="author"><%= @user.name %></span>
  &bull;
  <span class="date"><%= @post.date_posted %></span>
</span></p>
<hr>
<p>
<%= simple_format @post.body %>
</p>
