<nav>
  <% if @tenants %>
    <div class="level0 tenant-header">Departments</div>
    <% @tenants.each do |t| %>
      <div class="level0 tenant-name"><%= link_to t.name, dashboard_path %></div>
    <% end %>
  <% end %>
  <% if logged_in? %>
    <div class="level0"><%= link_to "Dashboard", dashboard_path %></div>
    <div class="level0"><%= link_to "Posts", posts_path %></div>
    <div class="level0"><%= link_to "New Post", new_post_path %></div>
    <% if admin_user? %>
      <div class="level0"><%= link_to "Users", users_path %></div>
    <% end %>
    <div class="level0"><%= link_to "Log out", logout_path, method: "delete" %></div>
  <% else %>
    <div class="level0"><%= link_to "Log in", login_path %></div>
  <% end %>
</nav>
