<nav>
  <% if logged_in? %>
    <p>&bull;&nbsp;<%= link_to "Dashboard", dashboard_path %></p>
    <p>&bull;&nbsp;<%= link_to "Posts", posts_path %></p>
    <% if admin_user? %>
      <p>&bull;&nbsp;<%= link_to "Users", users_path %></p>
    <% end %>
    <p>&bull;&nbsp;<%= link_to "Log out", logout_path, method: "delete" %></p>
  <% else %>
    <p>&bull;&nbsp;<%= link_to "Log in", login_path %></p>
  <% end %>
</nav>
