!!! 5
%html
  %head
    %title Fido
    = stylesheet_link_tag 'application', |
      media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #sidebar= render 'layouts/sidebar'
    #content-yield= yield
